body {
    font-family: Arial, sans-serif;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.semaforo {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    margin: 20px auto;
}

.luz {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
    opacity: 0.3;
}

.vermelho { background: red; }
.amarelo { background: yellow; }
.verde { background: green; }

.ativa {
    opacity: 1;
}